#root {
  --side-margin: 8px;
}

.AnimatedTabList,
.top-horizontal-box,
.PinnedTabsBar {
  margin: 0 calc(var(--side-margin) - var(--tabs-margin));
}
.TabsPanel .new-tab-btns[data-new-tab-bar-position="bottom"] {
  padding: 0 var(--side-margin) !important;
}
.PinnedTabsBar {
  width: auto !important;
}
